.home {
    background: linear-gradient(#eceff1, #37474f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeWrapper {
    width: 100%;
    padding-top: 100px;
}

.homeForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
